@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main">
<div class="title-box">
    <h1 class="title">SYNTHWAVE</h1>
</div>

    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rdNQzGVewcc"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                    clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
    <button class="the_button" onclick="song_preference()">click</button>

</div>